
h1{
    color:blue
}
.head{
    color: whitesmoke;
}
.para1{
    color: white;
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    background-size: cover;
    height: 50vh;
    width: 100vh;
    background-image:url(p1.gif) ;
    
}
.para2{
    color: white;
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    background-color: rgb(122, 184, 238);
    height: 50vh;
    width: 100vh;
}
.para3{
    color: white;
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center; 
    background-color:rgb(120, 238, 120) ;
    padding: 10px;
    
    width: 100vh;
}
.para4{
    color: white;
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 98, 255, 0.668);
    width: 100vh;

}
.para5{
    background-color:rgb(120, 238, 120) ;
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
     background-size: cover;
    background-position: center;
    color:white;
    width: 100vh;

   
}
.para6{
    color: rgb(203, 15, 15);
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    width: 100vh;
    background-image:url(human.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.para7{
    color: rgb(139, 239, 139);
    border:2px solid blue ;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    width: 100vh;
    height: 35vh;
    background-image:url(https://64.media.tumblr.com/386ae291b8718d9a14e6cad032e98372/tumblr_opqstzu1IV1qbsjnto1_640.gif) 
    
}
button{
    font-family: monospace;
    height:40px ;
    width: 100px;
    border: none ;
    border-radius:  30px; 
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: darkblue;
    
}
h1{
    font-family: monospace;
    font-size: 30px;
}
img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
main{
    display: flex;
    justify-content: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240705/pngtree-background-of-rain-drops-on-glass-in-closeup-image_15976175.jpg);
    background-size: cover;
}
.intro{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;
    background-image: url(image.avif);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    
}
.que{
    text-align: center;
}
 .container{
            max-width: 700px;
            background: #fff;
            padding: 25px;
            border-radius: 50px;  
            text-align: center; 
        }
        .container h2{
            text-align:center;
            font-family: monospace;
            color: lightskyblue;
        }
        .question{   
            border-bottom: 1px solid #ddd;
            color: rgb(101, 106, 242);
        }
        input[type="radio"]{
            accent-color:lightskyblue;
            width:18px;
            height:18px; 
        }
        #scoreBox{
            display:none;
            font-size:22px;
            background:rgb(122, 223, 223);
            color:#1a73e8; 
        }
        button{  
            background:white;
            color:blue;
            border:none;
            border-radius:20px;
            cursor:pointer;  
        }
    